.hero {
    background-image: $heroImg;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h1{
        color: $color1;
        text-align: center;
        font-size: $title1;
        text-shadow: 2px 2px 4px $myBlack;
        z-index: 1;
    }
    .dim{
        background-color: $myBlack;
        opacity: .4;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }
}