.tabs{
    background-color: $color2;
    border: $border;
    padding: $padding;
    .tab{
        display: none;
    }
    &.active1{
        .tab:nth-child(1){
            display: block;
        }
    }
    &.active2{
        .tab:nth-child(2){
            display: block;
        }
    }
    &.active3{
        .tab:nth-child(3){
            display: block;
        }
    }

}