$color1: #5ebdd1;
$color2: #ffa93d;
$color3: #6c5f93;
$myBlack: rgb(17, 16, 18);
$myWhite: rgb(241, 233, 233);


$border: 1rem solid $color1;
$padding: 2rem;

$heroImg: $img2;

$title1: 5rem;
$title2: 30px;
$title3: 20px;
